@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MVCLab.Models.Calculator.OperationFormResultViewModel


<h1>Calculator Results Page</h1>
<h2>You chose the <em>@(Model.Operation)</em>!</h2>

<h3>@(Model.results)</h3>
